.navbar{
    position: fixed;
    width: 100%;
    z-index: 200;
}

#collapsibleNavbar{
    font-size: 20px;
    padding-right: 10px;
    
}

.nav-item{
    padding-right: 7px;
}

#collapsibleNavbar .nav-link:hover{
    color: rgb(224, 14, 13);
}

@media screen and (max-width:768px) {

    #collapsibleNavbar{
        margin-top: -20px;
    }

    #collapsibleNavbar .nav-link{
        border-bottom: 1px solid #fff;
        padding-left: 50px;
    } 
}

.logo{
    height: 74px;
    border: 2px solid #fff;
    border-radius: 50%;
}  
    
.navbar{
    padding: 0 7px 0 5px;
}

.jumbotron{
background-image: url(../images/frontal.jpg);
background-size: cover;
background-position: center;
min-height: 400px;
position: relative;
top: 80px;
}

.jumbotron h1{
    position: absolute;
    color: rgb(260,260,260);
    background-color: rgba(45,45 ,46, 0.7);
    top:300px;
    font-size: 50px;
    padding-right: 35%;
    padding-top:2px;
    padding-bottom: 2px;
}

@media screen and (max-width:600px) {

    .junbotron{
        min-height: 350px;
    }
    .jumbotron h1{ 

        font-size: 30px;
    }
}

.btn-dark{
    margin: auto;
    font-size: 20px;
}
